__pycache__
test.py
t.pdf
temp.pdf
جزوه مکانیک کوانتومی.pdf
download.ipynb
Fundamentals of Molecular Biology.pdf
Molecular Biology Handout (1).markdown
p2p.pdf
sample-local-pdf.pdf
test.py
.devcontainer